<div class="page-home">
    <div class="page-title">
        <div class="logo"></div>
    </div>

    <div class="page-content">
        <span>Search By</span>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link link-ktg" routerLink="/category">
                    <div class="ktg-category"></div>
                    <span>Category</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link link-ktg" routerLink="/term">
                    <div class="ktg-term"></div>
                    <span>Term</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link link-ktg" routerLink="/acronym">
                    <div class="ktg-acronym"></div>
                    <span>Acronym</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link link-ktg" routerLink="/dictionary">
                    <div class="ktg-dictionary"></div>
                    <span>My Dictionary</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="page-footer">
        Selamat datang, <span>{{ userLoggedIn }}</span>
    </div>
</div>
