<div class="page-home">
    <div class="page-title">
        <div class="logo"></div>
    </div>

    <div class="page-content">
		<form autocomplete="off" novalidate [formGroup]="reactiveForm">
            <div class="ng-autocomplete">
                <ng-autocomplete
                    [data]="countriesReactive"
                    formControlName="name"
                    [initialValue]=""
                    [placeHolder]="placeholder"
                    [searchKeyword]="keyword"
                    historyIdentifier="countriesReactiveList"
                    [historyHeading]="historyHeading"
                    historyListMaxNumber="3"
                    (inputChanged)="getResponse($event)"
                    [isLoading]="isLoadingResult"
                    [debounceTime]="400"
                    [minQueryLength]="2"
                    [itemTemplate]="itemTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.termName"></a>
                </ng-template>
            </div>
        </form>
          
    </div>

</div>
