.page-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    line-height: 45px;
    height: 45px;
    padding: 0 16px;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
  }
  span {
    margin-left: 5px;
  }
.page-title {
    
}
.ng-autocomplete {
    display: inline-block;
    width: 800px;
}
.item {
    display: flex;
    span {
        justify-content: end;
    }
}
.page-content {
    margin-top: 20px;

    span {
        display: flex;
        justify-content: center;

        margin: 30px auto;
    }
    .nav-item {
        .nav-link {
            color: black;
        }
    }
}

.page-footer {
    display: flex;
    justify-content: center;
    
    margin: 30px auto;
    letter-spacing: .5px;
    span {
        font-weight: 900;
    }
}