/* You can add global styles to this file, and also import other style files */

.logo {
    width: 730px;
    height: 227px;
    background-repeat: no-repeat;
    background-image: url('assets/img/katagonia.jpg');
}