.page-dashboard {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    .nav-item {
        .nav-link {
            margin-right: 10px;
            color: black;
        }
    }
}
